<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NTB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NTB.Properties.Settings>
            <setting name="IgnoreTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rhidekey1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rmod1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rmod2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rhidekey2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rhidekey3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rmod3" serializeAs="String">
                <value>0</value>
            </setting>
        </NTB.Properties.Settings>
    </userSettings>
</configuration>